.container {
   width: 100%;
   display: flex; 
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}

.card {
   width: 50%;
   height: 70vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}