.container {
   width: 100%;
   display: flex; 
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}

.card {
   width: 80%;
   height: 70vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
}

.table {
    width: 80vw;
}

.filter {
    width: 400px;
}

.icon {
    cursor: pointer;
    color: rgb(13, 68, 119);
    transition-property: all;
    transition-duration: 0.4s;
}
