<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>Desafio</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Formulário eventos" routerLink="">
      <mat-icon>format_list_bulleted_add</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Listar eventos" routerLink="/listar-eventos">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
  </mat-toolbar>
</p>